* {
    margin: 0;
    padding: 0;
}

.content {
    padding-top: 56px;
    padding-bottom: 94px;
    background-color: #f6f2f2;
    text-align: center;
}

.menu {
    margin: 35px 0;
    text-align: center;
}

.menu-item {
    display: inline-block;
    margin-right: 65px;
}

.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #16a085;
}

.img-photo {
    text-align: center;
}

.img-photo img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 1060px;
}

.content-title {
    padding-bottom: 34px;
    text-align: center;
    color: #373737;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.content-text {
    text-align: center;
    color: #373737;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 2px;
}

.main-btn {
    margin-top: 40px;
    display: inline-block;
    padding: 20px 63px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    background-color: #16a085;
    color: #ffffff;
}

.footer-container {
    margin: 141px 104px 45px 0;
}

.copyright {

    color: #373737;
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
}
