.body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header-menu {
    margin-top: 100px;
    margin-bottom: 50px;
}

.header-title {
    margin-bottom: 45px;
}

.header-title-link {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 80px;
    text-decoration: none;
}
.text-black {
    color: #000000;
}

.text-blue {
    color: #4bcaff;
}

.top-menu {
    text-align: center;
    background-color: #35444f;
}

.top-menu-option {
    display: inline-block;
}

.top-menu-link {
    padding: 26px 41px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    color: #ffffff;
}

.top-menu-link:hover {
    border-left: 2px solid #818181;
    border-right: 2px solid #818181;
    background-color: #35444f;
}

.main-section {
    margin-top: 50px;
    width: 100%;
}

.left-sidebar {
    float: left;
}

.left-menu {
    margin: 0;
    padding: 0;
    width: 342px;
    border: 1px solid #000000;
}

.left-menu-item {
    list-style-type: none;
}

.left-menu-link {
    padding: 28px 0 28px 42px;
    display: block;
    font-family: 'Myriad Pro', sans-serif;
    text-decoration: none;
    font-size: 27px;
    color: #485863;
    transition: 0.4s;
    /*width: 100%;
    box-sizing: border-box;*/
}

.left-menu-link:hover {
    padding-left: 69px;
    background-color: #dcdcdc;
    color: #000000;
}

.content {
    float: right;
    width: 69%;
}
.img-section {
    border: 1px solid;
    padding: 65px 268px;
    text-align: center;
    margin-bottom: 50px;
}
.img-section img {
    margin-bottom: 50px;
    max-width: 100%;
    max-height: 100%;
}

.section-paragraph {
    margin-bottom: 50px;
    width: 100%;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2c2b2b;
}
.footer {
    background: #b5b8bb;
    padding-bottom: 18px;
    padding-top: 18px;
}
.footer-list-links {
    float: left;
}
.footer-list-link {
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 28px;
    line-height: 90px;
    color: #0c1927;
}

.blue-link {
    border-bottom: 2px solid #3181a6;
    color: #3181a6;
}

.footer-list-link:hover {
    border-bottom: 2px solid #3181a6;
    color: #3181a6;
}

.footer-copyright {
    float: right;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 24px;
    line-height: 90px;
    color: #010000;
}
