.container {
    width: 1920px;
    margin: 0 auto;
    max-width: 100%;
}

.main-header {
    padding-left: 175px;
    padding-right: 175px;
    box-shadow: 0px 1px 0px 0px #e6e9ed;
}

.navbar {
    text-align: center;
    background-color:  #ffffff;
    padding-top: 25px;
    padding-bottom: 28px;
}

.navbar-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-search-input {
    display: none;
}

.top-menu {
    display: inline-block;
}
.top-menu-item {
    display: inline-block;
}
.top-menu-link {
    display: inline-block;
    text-decoration: none;
}