@media {
    body {
        background: url("../img/rana-sawalha.jpg") no-repeat center center;
        background-size: cover;
    }
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.vertical-line {
    width: 1px;
    height: 19px;
    border-left: 1px solid;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 75px 19px 81px;
    background-color: rgba(0, 0, 0, 0.39);
}

.top-title-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.top-title {
    display: flex;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.top-title-link {
    text-decoration: none;
    color: #ffffff;
}

.top-title-link:hover {
    color: #3cb878;
}

.top-title-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.top-link {
    display: flex;
    text-decoration: none;
    margin-right: 25px;
    background: url("../img/css_sprites_ic.png");
    transition: .2s;
}

.top-link-calendar {
    width: 19px;
    height: 19px;
    background: url("../img/css_sprites_ic.png") -106px -10px;
}

.top-link-forum {
    width: 28px;
    height: 20px;
    background: url("../img/css_sprites_ic.png") -10px -10px;
}

.top-link-journey {
    width: 20px;
    height: 20px;
    background: url("../img/css_sprites_ic.png") -10px -50px;
}

.top-link-calendar:hover {
    width: 19px;
    height: 19px;
    background: url("../img/css_sprites_ic.png") -106px -49px;
}

.top-link-forum:hover {
    width: 28px;
    height: 20px;
    background: url("../img/css_sprites_ic.png") -58px -10px;
}

.top-link-journey:hover {
    width: 20px;
    height: 20px;
    background: url("../img/css_sprites_ic.png") -50px -50px;
}

.top-vertical-line {
    border-left-color: #302e2d;
}

.top-authorization {
    margin-left: 24px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 14px;
}

.authorization-link {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    color: #3cb878;
}

.authorization-link:hover {
    text-decoration: underline;
}

.authorization-form {
    margin-top: 65px;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 30px 60px;
    background-color: #fff;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    width: 500px;
}

.authorization-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green-square {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 29px;
    left: 0;
    background-color: #3cb878;
}

.authorization-title {
    margin-left: 20px;
    font-family: Verdana, sans-serif;
    color: #434343;
    font-size: 20px;
}

.form-log-in-link {
    margin-right: 20px;
}

.authorization-form-details {
    margin-left: 20px;
    margin-right: 20px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 37px;
}

.btn {
    padding: 15px 17px;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    width: 130px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.facebook-btn {
    margin-right: 10px;
    background-color: #305db8;
    color: white;
    border: 1px solid #305db8;
}

.facebook-btn:hover {
    box-shadow: 0px 8px 12px 0px #264b96;
}

.fa {
    width: 10px;
    height: 20px;
}

.facebook-line {
    margin-left: 12px;
    margin-right: 12px;
    color: #2953a8;
}

.google-btn {
    background-color: #df4a32;
    color: white;
    border: 1px solid #df4a32;
}

.google-btn:hover {
    box-shadow: 0px 8px 12px 0px #df4a32;
}

.google-line {
    margin-left: 16px;
    margin-right: 16px;
    color: #ca412a;
}

.horizontal-line {
    text-align: center;
}

.form-line {
    display: inline-block;
    border-top: 1px solid #eaeaea;
    width: 137px;
}

.form-line-word {
    margin: 0 18px;
    font-family: Verdana, sans-serif;
    color: #b6b6b6;
    font-size: 14px;
}

.registration-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.registration-form-input {
    margin: 14px 0;
    padding-left: 17px;
    width: 322px;
    height: 46px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    color: #bebebe;
    outline: none;
}

.registration-form-input::placeholder {
    color: #e1e1e1;
}

.registration-form-input:focus {
    box-shadow: 0px 8px 12px 0px #e1e1e1;
    color: #5a5a5a;
}

.agreement {
    margin-top: 10px;
    position: relative;
    font-family: Verdana, sans-serif;
    width: 100%;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
}

.agreement-checkbox {
    margin-right: 10px;
    display: inline-block;
    width: 12.5px;
    height: 12.5px;
    border: 1px solid #eaeaea;
}

.default-checkbox {
    opacity: 0;
    position: absolute;
}

.default-checkbox:checked ~ .agreement-checkbox {
    background: url("../img/css_sprites_ic.png") -10px -90px;
}

.btn-account-creation {
    margin-top: 30px;
    padding: 17px 108px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    background-color: #3cb878;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
}

.btn-account-creation:hover {
    box-shadow: 0px 8px 12px 0px #3cb770;
}