body {
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Verdana, sans-serif;
}
.container {
    margin: 0 auto;
    width: 1280px;
}
.top-side-list {
    margin: 50px 105px;
}
.top-side-item {
    display: inline-block;
}
.top-side-link-img {
    background: url("../img/logo.png");
    display: block;
    width: 46px;
    height: 44px;
}
.top-side-link-img:hover {
    background: url("../img/logo2.png");
}
.top-side-link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    line-height: 21px;
}
.top-side-link:hover {
    color: #f26522;
}
.header-milan {
    font-size: 29px;
}
.header-holidays {
    font-size: 18px;
}
.top-side-item-contacts {
    margin-left: 685px;
    text-align: right;
    display: inline-block;
    color: #ffffff;
}
.tour-photos {
    display: block;
    text-align: center;
}
.block-item {
    display: inline-block;
    position: relative;
    margin-right: 69px;
    margin-bottom: 78px;

}

.block-item:last-child {
    margin-right: 0;
}

.block-item img {
    max-width: 100%;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
    border-image-slice: 1;
    box-sizing: border-box;
    box-shadow: 0 17px 24px 0 #000000;
}
.block-link {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}
.block-link:hover {
    color: #f26522;
}
.tour-name {
    margin-top: 22px;
    display: block;
}
.tour-price {
    opacity: 0;
    background-color: #f26522;
    width: 100%;
    padding-top: 18px;
    margin-bottom: 67px;
    color: #ffffff;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: opacity 2s;
}
.tour-currency {
    margin-left: 21px;
    margin-bottom: 17px;
}
.tour-price small {
    margin-left: 21px;
    font-size: 10px;
}
.block-link:hover .tour-price{
    opacity: 1;
}
.tour-details {
    margin-right: 25px;
    margin-bottom: 17px;
    float: right;
    font-size: 14px;
}
.footer-name {
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}