body {
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Verdana, sans-serif;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.top-header {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top-header-logo-img {
    background: url("../img/logo.png");
    display: flex;
    width: 46px;
    height: 44px;
}

.top-header-logo-img:hover {
    background: url("../img/logo2.png");
}

.top-header-logo-name {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    line-height: 21px;
}

.top-header-logo-name:hover {
    color: #f26522;
}

.header-logo-upper {
    padding-left: 15px;
    font-size: 29px;
}

.header-logo-bottom {
    padding-left: 15px;
    font-size: 18px;
}

.contacts-info {
    padding-left: 665px;
    text-align: right;
    font-size: 18px;
}

.contacts-info-email {
    text-decoration: none;
    color: #ffffff;
}

.contacts-info-phone {
    text-decoration: none;
    color: #ffffff;
}

.tour-photos {
    display: block;
    text-align: center;
}

.tour-photos-block-item {
    display: inline-block;
    position: relative;
    margin-right: 69px;
    margin-bottom: 78px;

}

.tour-photos-block-item:last-child {
    margin-right: 0;
}

.tour-photos-block-item img {
    max-width: 100%;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
    border-image-slice: 1;
    box-sizing: border-box;
    box-shadow: 0 17px 24px 0 #000000;
}

.tour-photos-block-link {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}

.tour-photos-block-link:hover {
    color: #f26522;
}

.tour-name {
    margin-top: 22px;
    display: block;
}

.tour-price {
    opacity: 0;
    background-color: #f26522;
    width: 100%;
    padding-top: 18px;
    margin-bottom: 67px;
    color: #ffffff;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: opacity 2s;
}

.tour-exchange-currency {
    margin-left: 21px;
    margin-bottom: 17px;
}

.tour-price-cost-from {
    margin-left: 21px;
    font-size: 10px;
}

.tour-photos-block-link:hover .tour-price {
    opacity: 1;
}

.tour-details {
    margin-right: 25px;
    margin-bottom: 17px;
    float: right;
    font-size: 14px;
}

.footer-name {
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
}