.abstract-picture-table {
    border: 20px solid #3c3c3c;
    border-collapse: collapse;
    width: 615px;
    height: 850px;
}
.abstract-picture-table tr, .abstract-picture-table td {
    border: 7px solid #3c3c3c;
}
.grey-square {
    background-color: #f3f3f3;
    width: 80px;
}
.blue-square {
    background-color: #0580bf;
}
.yellow-square {
    background-color: #fae410;
    width: 80px;
}
.red-square {
    background-color: #f50606;
}
.black-square {
    background-color: #000000;
    width: 80px;
}
.first-abstract-picture-row {
    height: 70px;
}
.second-abstract-picture-row {
    height: 150px;
}
.third-abstract-picture-row {
    height: 190px;
}

